#   
#   The following fields must be filled in as specified in README.md file, 
#   some commented examples are attached to help the user to find the correct format.
#   Each YouTube key allows to add more or less 50 songs and has to be acitvated opening the URL 
#   printed in console and pasting the code given.

CLIENT_ID_SP_ = "5e17746c1f3fa93484c997c71dd4cee8"
CLIENT_SECRET_SP_ = "88c7beb4ea272c1021b585e15949ac4d"
CLIENT_SECRET_YT_ ="client_secret_49654604654-8d8f9d5543787a23a95f4ba46801d819.apps.googleusercontent.com.json","client_secret_54654625346-88da9115afc2d23a6dc2fd8ab1b09f5e.apps.googleusercontent.com.json"
SP_PL_ID_ = "3ea3b5abe149c2f39efd79"
YT_PL_ID_ = "6851c72d705366b5896ef-7c9a4c1c7d61"